body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-goldman: Goldman;

  /* font sizes */
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-14xl-2: 33.2px;

  /* Colors */
  --color-aliceblue-100: #f3f7ff;
  --color-aliceblue-200: #d4eefd;
  --color-black: #000;
  --color-dodgerblue: #4374d6;
  --color-white: #fff;
  --color-lavender: #cfebfd;
  --color-mediumblue: #1e3de3;
  --color-darkslateblue: #153e90;
}
